<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alphahub.mall.site.mapper.SiteOrderRuleMapper">

	<!-- 可根据自己的需求，按需使用 -->
    <resultMap type="cn.alphahub.mall.site.domain.SiteOrderRule" id="siteOrderRuleResult">
        <result property="siteId" column="site_id"/>
        <result property="useRule" column="use_rule"/>
        <result property="orderRefundMinutes" column="order_refund_minutes"/>
        <result property="orderExpiredRefundRule" column="order_expired_refund_rule"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>