package ${package}.${moduleName}.service;

import ${mainPath}.common.core.service.PageService;
import ${package}.${moduleName}.domain.${className};
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${comments}Service接口
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}>, PageService<${className}> {

}