package ${package}.${moduleName}.controller;

import ${mainPath}.common.core.domain.BaseResult;
import ${mainPath}.common.core.page.PageDomain;
import ${mainPath}.common.core.page.PageResult;

import ${package}.${moduleName}.domain.${className};
import ${package}.${moduleName}.service.${className}Service;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;
import java.util.Arrays;

/**
 * ${comments}Controller
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
public class ${className}Controller {
    @Resource
    private ${className}Service ${classname}Service;

    /**
     * 查询${comments}列表
     *
     * @param page         分页参数
     * @param ${classname} ${comments}, 查询字段选择性传入, 默认为等值查询
     * @return ${comments}分页数据
     */
    @GetMapping("/list")
    public BaseResult<PageResult<${className}>> list(@ModelAttribute(name = "page") PageDomain page,
                                                     @ModelAttribute(name = "${classname}") ${className} ${classname}
    ) {
        PageResult<${className}> pageResult = ${classname}Service.queryPage(page, ${classname});
        return BaseResult.ok(pageResult);
    }

    /**
     * 获取${comments}详情
     *
     * @param ${pk.attrname} ${comments}主键id
     * @return ${comments}详细信息
     */
    @GetMapping("/info/{${pk.attrname}}")
    public BaseResult<${className}> info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        ${className} ${classname} = ${classname}Service.getById(${pk.attrname});
        return BaseResult.ok(${classname});
    }

    /**
     * 新增${comments}
     *
     * @param ${classname} ${comments}元数据
     * @return 成功返回true,失败返回false
     */
    @PostMapping("/save")
    public BaseResult<Boolean> save(@RequestBody ${className} ${classname}) {
        boolean save = ${classname}Service.save(${classname});
        return BaseResult.ok(save);
    }

    /**
     * 修改${comments}
     *
     * @param ${classname} ${comments}, 根据id选择性更新
     * @return 成功返回true,失败返回false
     */
    @PutMapping("/update")
    public BaseResult<Boolean> update(@RequestBody ${className} ${classname}) {
        boolean update = ${classname}Service.updateById(${classname});
        return BaseResult.ok(update);
    }

    /**
     * 批量删除${comments}
     *
     * @param ${pk.attrname}s ${comments}id集合
     * @return 成功返回true, 失败返回false
     */
    @DeleteMapping("/delete/{${pk.attrname}s}")
    public BaseResult<Boolean> delete(@PathVariable(name = "${pk.attrname}s") ${pk.attrType}[] ${pk.attrname}s){
        boolean delete = ${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));
        return BaseResult.ok(delete);
    }
}
