package ${package}.${moduleName}.domain;

#if(${javaFieldContainsNameOrTitle})
import com.baomidou.mybatisplus.annotation.SqlCondition;
import com.baomidou.mybatisplus.annotation.TableField;
#end
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
#if(${hasLocalDateTime} || ${hasLocalDate} || ${hasLocalTime} || ${javaTypeHasDate})
import com.fasterxml.jackson.annotation.JsonFormat;
#end
#if(${hasLong})
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
#end
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

import java.io.Serializable;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasLocalDate})
import java.time.LocalDate;
#end
#if(${hasLocalDateTime})
import java.time.LocalDateTime;
#end
#if(${hasLocalTime})
import java.time.LocalTime;
#end

/**
 * ${comments}对象 ${tableName}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /**
     * $column.comments
     */
#if($column.columnName == $pk.columnName)
    @TableId
#end
#if(${column.attrType} == 'Long')
    @JsonSerialize(using = ToStringSerializer.class)
#elseif(${column.attrType} == 'LocalDateTime')
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss", timezone = "GMT+8")
#elseif(${column.attrType} == 'LocalDate')
    @JsonFormat(pattern = "yyyy-MM-dd", timezone = "GMT+8")
#elseif(${column.attrType} == 'LocalTime')
    @JsonFormat(pattern = "HH:mm:ss", timezone = "GMT+8")
#elseif($column.attrname.toLowerCase().contains("name") || $column.attrname.toLowerCase().contains("title"))
    @TableField(condition = SqlCondition.LIKE)
#end
    private $column.attrType $column.attrname;

#end
}
