<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alphahub.mall.order.mapper.OrderStockMapper">

	<!-- 可根据自己的需求，按需使用 -->
    <resultMap type="cn.alphahub.mall.order.domain.OrderStock" id="orderStockResult">
        <result property="stockId" column="stock_id"/>
        <result property="itemId" column="item_id"/>
        <result property="masterOrderId" column="master_order_id"/>
        <result property="purchaseQuantity" column="purchase_quantity"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>