<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alphahub.mall.job.mapper.SysJobLogMapper">

	<!-- 可根据自己的需求，按需使用 -->
    <resultMap type="cn.alphahub.mall.job.domain.SysJobLog" id="sysJobLogResult">
        <result property="id" column="id"/>
        <result property="jobId" column="job_id"/>
        <result property="jobName" column="job_name"/>
        <result property="jobGroup" column="job_group"/>
        <result property="jobMessage" column="job_message"/>
        <result property="invokeTarget" column="invoke_target"/>
        <result property="status" column="status"/>
        <result property="exceptionInfo" column="exception_info"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>