<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="SERVER_PORT" source="server.port"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="RUN_ENV" source="spring.profiles.active"/>

    <!-- springboot默认日志输出文件defaults.xml所在包: org.springframework.boot:spring-boot:x.x.x -->
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr([%X{X-B3-TraceId:-}]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder charset="UTF-8">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 输出到Logstash配置, 需要输送到logstash是放开注释 -->
    <!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.31.23:5044</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"APP_NAME":"${APP_NAME}"}</customFields>
            <customFields>{"RUN_ENV":"${RUN_ENV}"}</customFields>
            <customFields>{"SERVER_PORT":"${SERVER_PORT}"}</customFields>
        </encoder>
        <connectionStrategy>
            <roundRobin>
                <connectionTTL>5 minutes</connectionTTL>
            </roundRobin>
        </connectionStrategy>
    </appender>-->

    <!-- 开发环境 -->
    <springProfile name="default,dev,lwj">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="cn.alphahub.mall" level="debug"/>
        <!-- third party logger -->
        <logger name="org.apache.http" level="error"/>
        <logger name="org.springframework.core" level="warn"/>
        <logger name="org.springframework.beans" level="warn"/>
        <logger name="org.springframework.context" level="warn"/>
        <logger name="org.springframework.web" level="warn"/>
        <logger name="org.springframework.web.servlet" level="info"/>
        <logger name="org.springframework.cloud.openfeign" level="debug"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>
        <logger name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" level="info"/>
        <logger name="org.springframework.security.core.userdetails" level="debug"/>
        <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug"/>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
        <logger name="jdbc.sqltiming" level="debug"/>
        <logger name="com.alibaba.cloud.nacos.client" level="error"/>
        <logger name="com.alibaba.nacos" level="error"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="cn.alphahub.mall" level="debug"/>
        <!-- third party logger -->
        <logger name="org.apache.http" level="error"/>
        <logger name="org.springframework.core" level="warn"/>
        <logger name="org.springframework.beans" level="warn"/>
        <logger name="org.springframework.context" level="warn"/>
        <logger name="org.springframework.web" level="warn"/>
        <logger name="org.springframework.web.servlet" level="info"/>
        <logger name="org.springframework.cloud.openfeign" level="debug"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>
        <logger name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" level="info"/>
        <logger name="org.springframework.security.core.userdetails" level="debug"/>
        <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug"/>
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>
        <logger name="jdbc.sqltiming" level="debug"/>
        <logger name="com.alibaba.cloud.nacos.client" level="error"/>
        <logger name="com.alibaba.nacos" level="error"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!--<appender-ref ref="LOGSTASH"/>-->
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="cn.alphahub.mall" level="debug"/>
        <!-- third party logger -->
        <logger name="org.apache.http" level="error"/>
        <logger name="org.springframework.core" level="warn"/>
        <logger name="org.springframework.beans" level="warn"/>
        <logger name="org.springframework.context" level="warn"/>
        <logger name="org.springframework.web" level="warn"/>
        <logger name="org.springframework.web.servlet" level="info"/>
        <logger name="org.springframework.cloud.openfeign" level="debug"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="debug"/>
        <logger name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" level="info"/>
        <logger name="org.springframework.security.core.userdetails" level="debug"/>
        <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug"/>
        <logger name="jdbc.sqltiming" level="debug"/>
        <logger name="com.alibaba.cloud.nacos.client" level="error"/>
        <logger name="com.alibaba.nacos" level="error"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <!--<appender-ref ref="LOGSTASH"/>-->
        </root>
    </springProfile>

</configuration>
