<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alphahub.mall.schedule.sys.mapper.SysDictTypeMapper">

    <resultMap type="cn.alphahub.mall.schedule.sys.domain.SysDictType" id="sysDictTypeResult">
        <result property="id" column="id"/>
        <result property="dictName" column="dict_name"/>
        <result property="dictType" column="dict_type"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="updateTime" column="update_time"/>
        <result property="updater" column="updater"/>
        <result property="deleteTime" column="delete_time"/>
        <result property="deleter" column="deleter"/>
    </resultMap>

</mapper>
