<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.alphahub.mall.schedule.sys.mapper.SysParamsMapper">

    <resultMap type="cn.alphahub.mall.schedule.sys.domain.SysParams" id="sysParamsResult">
        <result property="id" column="id"/>
        <result property="paramCode" column="param_code"/>
        <result property="paramValue" column="param_value"/>
        <result property="paramType" column="param_type"/>
        <result property="remark" column="remark"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createDate" column="create_date"/>
        <result property="creator" column="creator"/>
        <result property="updateDate" column="update_date"/>
        <result property="updater" column="updater"/>
        <result property="deleter" column="deleter"/>
        <result property="deleteDate" column="delete_date"/>
    </resultMap>

</mapper>
