server:
  port: 8000
spring:
  application:
    name: lejing-member
  profiles:
    active: dev
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
mybatis-plus:
  mapper-locations: classpath:mapper/**/*Mapper.xml,mapper/**/*Dao.xml
  type-aliases-package: com.**.domain,cn.**.domain,com.**.cn.alphahub.mall.ware.entity,cn.**.cn.alphahub.mall.ware.entity
  global-config:
    db-config:
      id-type: auto
  configuration:
    map-underscore-to-camel-case: true